<version-component-versions clientVersion="1.0.0.0" serverVersion="1.0.0.2"></version-component-versions>
<version-component-versions clientVersion="2.0.0.0" serverVersion="5.0.0.2"></version-component-versions>
<version-component-versions clientVersion="2.0.0.0" serverVersion="2.0.0.2"></version-component-versions>
<version-component-versions clientVersion="1.0.0.0" serverVersion="1.0.0.0"></version-component-versions>
<version-component-versions clientVersion="2.0.0.0" serverVersion="1.0.0.8"></version-component-versions>